@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply active:bg-blue-600;
}

.fav {
  @apply border border-red-400 shadow-md outline outline-2 outline-red-400 shadow-red-400;
}
.checked {
  @apply border border-blue-400 shadow-md outline outline-2 outline-blue-400 shadow-blue-400;
}

.card {
  @apply w-auto text-white whitespace-normal border rounded-lg bg-slate-800 break-keep;
}

.checked-fav {
  @apply border-blue-400 shadow-md outline outline-2 outline-blue-400 shadow-blue-400;
}

.star {
  @apply absolute top-0 w-5 h-auto rounded-full cursor-pointer right-1;
}

.check {
  @apply absolute top-0 w-5 h-auto rounded-full cursor-pointer right-7;
}

.edit {
  @apply absolute bottom-0 w-5 h-auto bg-blue-500 rounded-full cursor-pointer right-7;
}

.trash {
  @apply absolute bottom-0 w-5 h-auto bg-red-500 rounded-full cursor-pointer right-1;
}

.type-title {
  font-family: monospace;
  animation: typing 1.5s steps(12), blink 0.5s infinite step-end alternate;
}

.typewritter {
  font-family: monospace;
  visibility: hidden;
  animation: typing 3s steps(41) forwards,
    blink 0.5s infinite step-end alternate;
  animation-delay: 1.5s;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
    visibility: visible;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.label-style {
  @apply absolute transition duration-200 top-4 left-4 peer-valid:transition peer-focus:-translate-y-7 peer-focus:bg-zinc-900 peer-focus:text-sm peer-focus:px-1.5 peer-valid:-translate-y-7 peer-valid:-translate-x-2 peer-focus:-translate-x-2 peer-valid:bg-zinc-900 peer-valid:px-1.5 peer-valid:text-sm;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(6, 131, 177);
  border-radius: 5px;
}
